header{
  background-color: LightSeaGreen;
  color: Gold;
  font-size:50px
}
body{
  background-color: LightSeaGreen;
  color: Gold;
  font-size:30px
}
p{
  color: Gold;
  font-size:30px
}
h2{background-color: LightSeaGreen;
color: Gold;
font-size:30px
}
h3{background-color: LightSeaGreen;
color: Gold;
font-size:30px
}
h4{background-color: LightSeaGreen;
color: Gold;
font-size:30px
}
h5{background-color: LightSeaGreen;
color: Gold;
font-size:30px
}
h6{background-color: LightSeaGreen;
color: Gold;
font-size:30px
}
